@{
    ViewData["Title"] = "Zach Ryan";
}



<div id="content" class="head">

    <div class="parallax-container">
        <div class="parallax"><div class="row titleContent">
    <div class="col-sm-4">
        Column 1
    </div>
    <div class="col-sm-4">
        <h1>Zach Ryan</h1>
        <p class="lead">New Ep Out Now!</p>
    </div>
    <div class="col-sm-4">
        Column 3
    </div>
</div><img src="~/img/guitar.jpg"><div class="row titleContent">
            <div class="col-sm-4">
                Column 1
            </div>
            <div class="col-sm-4">
                <h1>Zach Ryan</h1>
                <p class="lead">New Ep Out Now!</p>
            </div>
            <div class="col-sm-4">
                Column 3
            </div>
        </div></div>

    </div>

    <div class="topOfPage">
        
    </div>

    </div id="Video">
        @Html.Partial("Video");
    <div>

    </div id="News">
        @Html.Partial("News");
    <div>

    </div>
        @Html.Partial("Photos");
    <div>

    </div>
        @Html.Partial("Stream");
    <div>

    </div>
        @Html.Partial("Tour");
    <div>

    </div>
        @Html.Partial("Sign_Up");
    <div>

    </div>
        @Html.Partial("Contact");
    <div>



</div>